<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do something</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css">
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/dayjs.min.js"></script>

<body>
    <div id="app" style="font-family: undefined;">Assesment click</div>
    <script id="appTemplate" type="text/template">
        <b-container>
            <b-row class="mb-4">
                <b-col>
                    <b-button @click="navToAssessment">Click to do {{ entity.client_name }}'s Assessment</b-button>
                </b-col>
            </b-row>
            <b-row class="mb-4">
                <b-col class="col-12">
                    <span class="font-weight-bold" style="font-size: 1.2rem;">NeeuroFit Account Creation</span>
                </b-col>
                <b-col class="col-6">
                    <b-form-group
                        id="form-neeurofit-start-date"
                        label="Start Date"
                        label-for="input-neeurofit-start-date"
                    >
                        <b-form-input id="input-neeurofit-start-date" type="date" :disabled="stateNeeuroFit.isHideCreation" v-model="neeurofit.creation.startDate"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col class="col-6">
                    <b-form-group
                        id="form-neeurofit-end-date"
                        label="End Date"
                        label-for="input-neeurofit-end-date"
                    >
                        <b-form-input id="input-neeurofit-end-date" type="date" :disabled="true" :value="addSixMonthToEndDateInNeeuroFitCreation"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col class="col-12">
                    <b-button 
                        variant="success" 
                        :disabled="stateNeeuroFit.isHideCreation"
                        @click="sendNeeuroFitEmailAccountCreation"
                    >Test Create NeeuroFit Account {{ entity.client_name }}'s Assessment</b-button>
                </b-col>
            </b-row>
            <b-row class="mb-4">
                <b-col class="col-12">
                    <span class="font-weight-bold" style="font-size: 1.2rem;">NeeuroFit Account Renewal</span>
                </b-col>
                <b-col class="col-6">
                    <b-form-group
                        id="form-neeurofit-renew-start-date"
                        label="Start Date"
                        label-for="input-neeurofit-renew-start-date"
                    >
                        <b-form-input id="input-neeurofit-renew-start-date" type="date" :disabled="stateNeeuroFit.isHideRenewal" v-model="neeurofit.renewal.startDate"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col class="col-6">
                    <b-form-group
                        id="form-neeurofit-renew-end-date"
                        label="End Date"
                        label-for="input-neeurofit-renew-end-date"
                    >
                        <b-form-input id="input-neeurofit-renew-end-date" type="date" :disabled="true" :value="addSixMonthToEndDateInNeeuroFitRenewal"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col class="col-12">
                    <b-button 
                        variant="success"
                        :disabled="stateNeeuroFit.isHideRenewal"
                        @click="sendNeeuroFitEmailAccountRenewal" 
                    >Renew NeeuroFit Account {{ entity.client_name }}'s Assessment</b-button>
                </b-col>
            </b-row>
            <b-row>
                <b-col class="col-12">
                    <span class="font-weight-bold" style="font-size: 1.2rem;">NeeuroFit Account Deactivation</span>
                </b-col>
                <b-col class="col-6">
                    <b-form-group
                        id="form-neeurofit-deactivate-date"
                        label="Date Deactivation"
                        label-for="input-neeurofit-deactivate-date"
                    >
                        <b-form-input id="input-neeurofit-deactivate-date" type="date" :disabled="stateNeeuroFit.isHideDeactivation" v-model="neeurofit.deactivation.date"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col class="col-12">
                    <b-button 
                        variant="danger" 
                        :disabled="stateNeeuroFit.isHideDeactivation"
                        @click="sendNeeuroFitEmailAccountDeactivation" 
                    >Deactivate NeeuroFit Account {{ entity.client_name }}'s Assessment</b-button>
                </b-col>
            </b-row>
        </b-container>
    </script>
    <script>
        const transformData = raw => {
            if (!raw) {
                return null;
            }
            return {
                client_name: raw.crb5c_no,
                gender: raw.crb5c_sex,
                dateOfBirth: raw.crb5c_birthdate,
            }
        }

        window.addEventListener("load", async () => {

            let entityId = window.top.Xrm.Page.data.entity.getId();
            let entityLogicalName = "crb5c_fow_customer";
            let options = new URLSearchParams({
                $select: 'crb5c_no, crb5c_sex, crb5c_birthdate',
                $filter: `crb5c_fow_customerid eq '${entityId}'`,
            });

            let { entities } = await window.top.Xrm.WebApi.retrieveMultipleRecords(entityLogicalName, '?' + options.toString());
            let entity = transformData(entities[0]);

            const app = new Vue({
                el: "#app",
                template: "#appTemplate",
                data() {
                    return {
                        entity,
                        clientid: '',
                        neeurofitEmailRecordEntityLogicalName: "crb5c_neeurofitemailrecord",
                        dateFormatInputDate: "YYYY-MM-DD",
                        stateNeeuroFit: {
                            isHideCreation: true,
                            isHideRenewal: true,
                            isHideDeactivation: true,
                        },
                        neeurofit: {
                            creation: {
                                startDate: null,
                            },
                            renewal: {
                                startDate: null,
                            },
                            deactivation: {
                                date: null,
                            }
                        },
                    }
                },
                computed: {
                    addSixMonthToEndDateInNeeuroFitCreation(){
                        const startDate = this.neeurofit.creation.startDate;
                        if(!startDate){
                            return;
                        }

                        return dayjs(startDate).add(6, "month").format(this.dateFormatInputDate);

                    },
                    addSixMonthToEndDateInNeeuroFitRenewal(){
                        const startDate = this.neeurofit.renewal.startDate;
                        if(!startDate){
                            return;
                        }

                        return dayjs(startDate).add(6, "month").format(this.dateFormatInputDate);
                        
                    }
                },
                methods: {
                    navToAssessment() {
                        console.log('ID:', entityId)
                        finalUrl = `https://fow-assessment-test.npo.sg/home/?client_id=${entityId}`;
                        window.open(finalUrl);
                    },
                    getClientIdWithoutCurlyBraces(){
                        return entityId.replace(/[{}]/g, '');

                    },
                    validationForCreateAndRenewInput(clientGender, dateOfBirth){
                        if(!clientGender){
                            alert("This client does not have gender.");
                            return null;
                        }

                        if(!dateOfBirth){
                            alert("This client does not have date of birth.");
                            return null;
                        };

                        if(!this.neeurofit.creation.startDate && !this.addSixMonthToEndDateInNeeuroFitCreation){
                            alert("Please fill up the start date");
                            return null;
                        }

                        return true;

                    },
                    async sendNeeuroFitEmailAccountCreation(){
                        try {
                            const BASE_URL_NEEUROFIT_ACCOUNT_CREATION_EMAIL = "https://prod.dx0vjh7tbhwvp.amplifyapp.com/api/emailNeeurofitAccountCreation";
                            const LIST_GENDER = ["Male", "Female"];

                            const clientGender = LIST_GENDER[entity.gender];
                            const dateOfBirth = entity.dateOfBirth;

                            //---- validation
                            if(!this.validationForCreateAndRenewInput(clientGender, dateOfBirth)){
                                return;
                            };
                            //---- validation

                            this.stateNeeuroFit.isHideCreation = true;

                            await this.createRecordInNeerofitEmailRecord(this.getClientIdWithoutCurlyBraces(), {
                                startDate: this.neeurofit.creation.startDate,
                                endDate: this.addSixMonthToEndDateInNeeuroFitCreation,
                            });

                            const { crb5c_email } = await this.getNeeuroFitRecordTable(this.getClientIdWithoutCurlyBraces());
                            const payload = {
                                // TODO: remove (TEST) when live
                                subject: `NeeuroFit Account Creation for ${this.entity.client_name} (TEST)`,
                                messageBody: [
                                    "Hi Kwee Eng",
                                    "New NeeuroFit account:",
                                    `Name: ${this.entity.client_name}`,
                                    `Email: ${crb5c_email}`,
                                    // FIX; put actual date of birth data
                                    `Date of birth: 1/2/1968`,
                                    // FIX: check if client gender is null
                                    `Gender: ${clientGender}`,
                                    // FIX: put start date of neeurofit
                                    // "Start Date: 20/1/2024",
                                    "Warm Regards,"
                                ],
                                footer: [
                                    "Eunice Tan  (Ms)",
                                    "Manager | Family of Wisdom (Bendemeer)",
                                    "20 Bendemeer Road, #01-02, BS Bendemeer Centre, Singapore 339914",
                                    "DID: 6389 5385 | Fax: 6293 6631| "
                                ],
                                footerLink: "http://www.alz.org.sg",
                                senderEmail: "neeurofit-reports@dementia.org.sg",
                                // TODO: comment when live
                                receiverEmail: "mfitrie789@yahoo.com",
                                CCEmail: ["m.fitrie@thunderquote.com"],
                                // TODO: comment when live
                                // TODO: uncomment when live
                                // receiverEmail: "robin_a12@hotmail.com",
                                // CCEmail: ['eunice.tan@dementia.org.sg', 'guanlai.choo@dementia.org.sg']
                                // TODO: uncomment when live
                            }

                            console.log("payload: ", payload);

                            await axios.post(BASE_URL_NEEUROFIT_ACCOUNT_CREATION_EMAIL, payload);
                            
                            alert("Sending NeeuroFit account creation success");

                            this.stateNeeuroFit.isHideDeactivation = false;

                        } catch (error) {
                            console.error(error);
                            alert("Sending NeeuroFit account creation failed");
                        }

                    },
                    async sendNeeuroFitEmailAccountRenewal(){},
                    async sendNeeuroFitEmailAccountDeactivation(){
                        try {
                            const BASE_URL_NEEUROFIT_ACCOUNT_DEACTIVATION_EMAIL = "https://prod.dx0vjh7tbhwvp.amplifyapp.com/api/emailNeeurofitAccountCreation/account-deactivation";

                            const endDate = this.neeurofit.deactivation.date;

                            if(!endDate){
                                alert("Please fill up the deactivation date");
                                return;
                            }

                            this.stateNeeuroFit.isHideDeactivation = true;

                            const payload = {
                                // TODO: remove (TEST) when live
                                subject: `NeeuroFit Account Deactivation for ${this.entity.client_name} (TEST)`,
                                messageBody: [
                                        "Hi Kwee Eng",
                                        "NeeuroFit Account Deactivation:",
                                        `Name: ${this.entity.client_name}`,
                                        "Email: DSG23001@edenlab.com",
                                        // FIX: put start deactivation date
                                        "Warm Regards,"
                                    ],
                                footer: [
                                        "Eunice Tan  (Ms)",
                                        "Manager | Family of Wisdom (Bendemeer)",
                                        "20 Bendemeer Road, #01-02, BS Bendemeer Centre, Singapore 339914",
                                        "DID: 6389 5385 | Fax: 6293 6631| "
                                    ],
                                footerLink: "http://www.alz.org.sg",
                                senderEmail: "neeurofit-reports@dementia.org.sg",
                                // TODO: comment when live
                                receiverEmail: "mfitrie789@yahoo.com",
                                CCEmail: ["m.fitrie@thunderquote.com"],
                                // TODO: comment when live
                                // TODO: uncomment when live
                                // receiverEmail: "robin_a12@hotmail.com",
                                // CCEmail: ['eunice.tan@dementia.org.sg', 'guanlai.choo@dementia.org.sg']
                                // TODO: uncomment when live
                            }

                            axios.post(BASE_URL_NEEUROFIT_ACCOUNT_DEACTIVATION_EMAIL, payload);
                            await this.deactivateNeeuroFitEmailRecord(this.getClientIdWithoutCurlyBraces(), endDate);

                            alert("Sending NeeuroFit account deactivation success");

                            this.stateNeeuroFit.isHideCreation = false;
                            
                        } catch (error) {
                            console.error(error);
                            alert("Sending NeeuroFit account deactivation failed");
                        }
                    },
                    async getNeeuroFitRecordTable(clientId){
                        const params = new URLSearchParams({
                            $select: 'crb5c_neeurofitemailrecordid, crb5c_id, crb5c_email, crb5c_startdate, crb5c_enddate, crb5c_deactivationdate',
                            $filter: `_crb5c_client_value eq '${clientId}'`,
                        });

                        const { entities } = await window.top.Xrm.WebApi.retrieveMultipleRecords(this.neeurofitEmailRecordEntityLogicalName, '?' + params.toString());
                        const record = entities.at(-1);

                        console.log("getNeeuroFitRecordTable: ", record);

                        if(!record){
                            return null;
                        }

                        return record;

                    },
                    updateClientCreateRequestNeeuroFitAccount(clientId){
                        // TODO: add neeurofit email 
                        // TODO: add start date
                        // TODO: add end date, 6 month after
                    },
                    updateClientDeactivateNeeuroFitAccount(clientId){
                        // TODO: set neeurofit email to null
                        // TODO: add deactivation date
                    },
                    updateClientRenewNeeuroFitAccount(clientId){
                        // TODO: update start date
                        // TODO: update end date, 6 month after
                    },
                    async createRecordInNeerofitEmailRecord(clientId, dateObject){
                        try {
                            const createNewRecordNeeuroFitEmailRecord = async () => {
                                const body = {}

                                const { id: crb5c_neeurofitemailrecordid } = await window.top.Xrm.WebApi.createRecord(this.neeurofitEmailRecordEntityLogicalName, body);
                                
                                return crb5c_neeurofitemailrecordid;

                            };

                            const getCrb5c_neeurofitemailrecordidNeeuroFitEmailRecordAfterCreate = async (crb5c_neeurofitemailrecordid) => {
                                const params = new URLSearchParams({
                                    $select: 'crb5c_neeurofitemailrecordid, crb5c_id, crb5c_email',
                                    $filter: `crb5c_neeurofitemailrecordid eq '${crb5c_neeurofitemailrecordid}'`,
                                });

                                const { entities } = await window.top.Xrm.WebApi.retrieveMultipleRecords(this.neeurofitEmailRecordEntityLogicalName, '?' + params.toString());
                                console.log("getRecordNeeuroFitEmailRecord: ", entities);

                                return entities[0].crb5c_id;

                            };

                            const updateRecordNeeuroFitEmailRecord = async (crb5c_neeurofitemailrecordid, crb5c_id, clientId) => {
                                const formatYear = dayjs().format("YY");
                                const formatNeeuroFitEmail = `DSG${formatYear}${crb5c_id}@edenlab.com`;

                                const body = {
                                    "crb5c_Client@odata.bind": `crb5c_fow_customers(${clientId})`,
                                    crb5c_email: formatNeeuroFitEmail,
                                    crb5c_startdate: dateObject.startDate,
                                    crb5c_enddate: dateObject.endDate,
                                    crb5c_deactivationdate: null,
                                }

                                const response = await window.top.Xrm.WebApi.updateRecord(this.neeurofitEmailRecordEntityLogicalName, crb5c_neeurofitemailrecordid, body);
                                
                                console.log("updateRecordNeeuroFitEmailRecord: ", response);

                            };


                            const crb5c_neeurofitemailrecordid = await createNewRecordNeeuroFitEmailRecord();
                            const crb5c_id = await getCrb5c_neeurofitemailrecordidNeeuroFitEmailRecordAfterCreate(crb5c_neeurofitemailrecordid);
                            await updateRecordNeeuroFitEmailRecord(crb5c_neeurofitemailrecordid, crb5c_id, clientId);

                        } catch (error) {
                            console.error(error);
                            alert("Create record NeeuroFit Email failed");
                        }
                        


                    },
                    async deactivateNeeuroFitEmailRecord(clientId, endDate){
                        try {
                            const updateRecordNeeuroFitEmailRecord = async (crb5c_neeurofitemailrecordid) => {
                                const body = {
                                    crb5c_deactivationdate: endDate,
                                }
                                const response = await window.top.Xrm.WebApi.updateRecord(this.neeurofitEmailRecordEntityLogicalName, crb5c_neeurofitemailrecordid, body);
                                
                                console.log("updateRecordNeeuroFitEmailRecord: ", response);
    
                            }
    
                            const { crb5c_neeurofitemailrecordid } = await this.getNeeuroFitRecordTable(clientId);
                            
                            if(!crb5c_neeurofitemailrecordid){
                                return;
                            }
    
                            await updateRecordNeeuroFitEmailRecord(crb5c_neeurofitemailrecordid);
                            
                        } catch (error) {
                            console.error(error);
                            alert("Update record NeeuroFit Email deactivation failed");
                        }

                    }
                },
                async mounted(){
                    const record = await this.getNeeuroFitRecordTable(this.getClientIdWithoutCurlyBraces());
                    if(!record){
                        this.stateNeeuroFit.isHideCreation = false;
                        return;
                    }

                    // check account still active
                    if(!record.crb5c_deactivationdate){
                        this.stateNeeuroFit.isHideDeactivation = false;
                        return;
                    }

                    this.stateNeeuroFit.isHideDeactivation = false;


                }
            })
        });

    </script>
    <style lang="scss" scoped="">
        .headertitle {
            font-size: 22px;
            padding: 30px;
            text-align: center;
        }

        .colcolor {
            background: rgba(80, 39, 107, 0.728);
            color: white;
            text-align: center;
        }

        .darkcolcolor {
            background: rgba(80, 39, 107, 0.728);
            color: white;
        }

        .row-center {
            text-align: center;
        }
    </style>

</body>

</html>